.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
}

.top {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 96px 0;
}

.links {
    display: flex;
}

body {
    font-family: Roboto, sans-serif;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

a {
    color: #E5E7EB; 
    font-size: 18px;
    text-decoration: none;
    margin: 0 8px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.img-placeholder {
    text-align: center;
    padding: 100px;
    background-color: grey;
    color: #F9FAF8;
    margin-left: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.main {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.info {
    width: 450px;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 16px;
    margin-bottom: 16px;
}

.signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 32px 8px 32px;
    border-radius: 5px;
    border: 0;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
}

.info-header {
    font-size: 36px;
    font-weight: 700;
    color: #1F2937;
    padding: 48px;
}

.image {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    margin-bottom: 8px;
}

.group {
    display: flex;
    flex-direction: column;
}

.info-row {
    display: flex;
    justify-content: space-around;
    width: 1000px;
}

.text {
    width: 150px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 150px;
    background-color: #E5E7EB;
    align-items: center;
}

.message {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.author {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    padding-top: 16px;
    font-style: normal;
}